/* Réinitialisation des styles de base */


/* Réinitialisation des styles de base */

html,
body,
button,
input,
select,
textarea {
    color: #444;
    margin: 0;
    padding: 0;
}


/* Définition de la taille de police par défaut et de l'espacement des lignes */

html {
    font-size: 16px;
    line-height: 1.4;
    background-color: #f7f7f7;
    /*background-image: url("/docs/bag.jpg");
    /* Fond sombre */
}


/* Styles pour la balise <div id="wrapper"> */

#wrapper {
    max-width: 900px;
    min-width: 320px;
    margin: 0 auto;
    /* Marge automatique pour centrer horizontalement */
    padding: 20px;
    background-color: #fff;
    /* Fond blanc */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    /* Bordure arrondie à 3px */
}




header {
    background-color: #f7f7f9;
    border: 1px solid #ccc;
   
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    position: relative;
}




header img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 1px solid #ccc;
    border-radius: 3px;
}


h2 {
    color: #333;
    
    font-size: 24px;
   
    margin-top: 20px;
   
}



p {
    font-size: 16px;
   
    line-height: 1.6;
    color: #666;
    
    margin-bottom: 10px;
    
}




ul {
    list-style: none;
}




a {
    color: #0077cc;
    
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/*--------------------------------------------------------------------------------*/
/* Style pour la barre de navigation */
#nav-bar {

    text-align: center;
    position: relative;
    top: 0px;
}

#nav-bar ul {
    list-style: none;
    padding: 0;
}

#nav-bar ul li {
    display: inline;
    margin-right: 20px; 
}

#nav-bar ul li a {
    text-decoration: none;
    color: #460000; 
    font-weight: bold;
    font-size: 16px;
}

#nav-bar ul li a:hover {
    color: #0077cc; 
}



/* Styles pour la barre de navigation */
#nav-bar {
    position: relative; 
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
}

#nav-bar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}



button{
    color: rgb(0, 51, 179);
}



section {
    background-color: #f7f7f8;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(92, 60, 60, 0.2);
   
    margin-top: 20px;
   
    flex-direction: row-reverse;
    

}
section h2 {

    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 0;
    padding: 20px 0;
}


article {
    position: relative; 
    border-left: 2px solid #0077cc;
    padding-left: 20px;
    margin-top: 20px;
   
}

article h3 {
    position: relative;
    font-size: 20px;
    color: rgb(0, 51, 179);
    margin-bottom: 0px;
}



article h3::before {
    content: '\2192'; 
    position: absolute;
    left: -25px; 
    color: #0077cc;
}
article p {
    font-size: 16px;
    line-height: 1.6;
    color: #c4c4c4;
    margin-bottom: 5px; 
}




#footer {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}


 #footer ul {
    
    margin-top: 5px;
    list-style: none; 
    padding: 1px;; 
    display: flex; 
}

#footer li {
    font-size: 20px;
    margin-right: 70px; 
    color:  rgb(0, 51, 179);
}
#footer a {
    font-size: 18px;
    color: #333;
}


#footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#footer li {
    
    margin-right: 50px; 
}

#footer a {
    text-decoration: none;
    color: rgb(0, 51, 179);
}
/* Ajoutez cette classe pour l'effet d'animation */
@keyframes fadeIn {
    from {
        height: 0;
    }
    to {
        height: initial; /* Utilisez "initial" pour rétablir la hauteur par défaut */
    }
}

/* Appliquez l'animation à la classe description */
.description {
    overflow: hidden; /* Masquez le contenu qui dépasse de la hauteur définie */
    animation: fadeIn 1s ease; /* 1s pour la durée de l'animation */
}

/* Style de base pour la tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Afficher la tooltip lors du survol */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}